# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages of Data Science.
* List commonly used libraries by Data Scientists.
* List some of the open source development environment.
* Evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Scikit-learn

| Data Science Tools |
|--------------------|
|  R Studio          |
| Apache Spark       |
| Tensor Flow        |

### Below are a few examples of evaluating arithmetic expressions in Python
eval("1024 * 1024")
eval("24 + 24")
eval("2 ** 8")

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

**Author**
name: Pratik Kumar